* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

:root {
  --brand-magenta: #e02b57;
  --brand-magenta-light: #f6678d;
  --brand-magenta-dark: #c7264e;
  --paragraph: #4c4c4c;
}

.reveal {
  visibility: hidden;
}

@media (min-width: 992px) {
  header {
    height: 4rem;
    background-color: var(--brand-magenta);
  }

  p {
    color: var(--paragraph);
  }

  span {
    font-weight: 700;
    color: var(--brand-magenta);
  }

  .wrapper {
    width: 80%;
    margin: 0 auto;
  }

  nav {
    display: flex;
    align-items: center;
    height: 100%;
    color: white;
    justify-content: space-between;
    font-weight: 500;
  }

  a {
    cursor: pointer;
  }

  nav a:hover {
    font-weight: 700;
  }

  nav button {
    background-color: var(--brand-magenta-dark);
    padding: 0.4rem 1rem;
    border: none;
    font-family: "Poppins";
    border-radius: 5rem;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    transition: 0.2s;
    cursor: pointer;
  }

  nav button:hover {
    transition: 0.2s;
    background-color: white;
    color: var(--brand-magenta);
  }

  button {
    cursor: pointer;
    font-size: 1rem;
  }

  .header-logo {
    width: 8rem;
    align-self: center;
  }

  .banner {
    background-image: url(./assets/bg-mountain.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100%;
    background-position: top;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .banner h1 {
    font-size: 3rem;
  }

  .banner-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .button1 {
    width: fit-content;
    padding: 1rem;
    background-color: var(--brand-magenta);
    border: 2px solid transparent;
    border-radius: 5rem;
    color: white;
    font-weight: 700;
    transition: 0.2s;
    height: fit-content;
  }

  .button1:hover {
    transition: 0.2s;
    box-shadow: 5px 5px 0 var(--brand-magenta);
    background-color: var(--brand-magenta-light);
  }

  .cards {
    margin-top: 10rem;
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;
    gap: 10rem;
  }

  .frame {
    display: flex;
    justify-content: space-between;
    padding: 0rem 5rem;
  }

  .frame img {
    width: 45%;
    height: 32rem;
    object-fit: cover;
    object-position: 42%;
    border-radius: 0.5rem;
  }

  .frame-text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 25rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  .frame:nth-child(2) img {
    object-position: 35%;
  }

  .frame:nth-child(2) .frame-text {
    text-align: right;
  }

  .frame:nth-child(2) .frame-text button {
    align-self: flex-end;
    margin-right: 3rem;
  }

  .line {
    height: 1px;
    width: 120%;
    align-self: flex-end;
    background-color: var(--brand-magenta);
  }

  .footer-banner {
    background-color: var(--brand-magenta);
    color: white;
    height: 12rem;
    display: flex;
    align-items: center;
  }

  h4 {
    font-size: 0.96rem;
  }

  .second-banner-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .second-banner-content button {
    background-color: black;
  }

  .second-banner-content button:hover {
    background-color: rgb(48, 48, 48);
    transform: scale(1.04);
    box-shadow: 5px 5px 0 var(--brand-magenta-dark);
  }

  .second-banner-text {
    line-height: 2rem;
  }

  .footer {
    padding: 2rem 0;
    background-color: #e7e7e7;
  }

  .footer-content {
    display: flex;
    justify-content: space-around;
  }

  .footer h3 {
    font-size: 1.5rem;
  }

  .footer a {
    text-decoration: none;
    color: var(--paragraph);
  }

  .footer a:hover {
    text-decoration: none;
    text-decoration: underline;
    color: var(--brand-magenta);
  }

  .footer li {
    transition: 0.2s;
  }

  .footer li:hover {
    transform: translate(10px);
    transition: 0.2s;
  }

  .footer ul {
    list-style: none;
    line-height: 2rem;
  }

  .column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {
  header {
    height: 4rem;
    background-color: var(--brand-magenta);
  }

  p {
    color: var(--paragraph);
  }

  span {
    font-weight: 700;
    color: var(--brand-magenta);
  }

  .wrapper {
    width: 80%;
    margin: 0 auto;
  }

  nav {
    display: flex;
    align-items: center;
    height: 100%;
    color: white;
    justify-content: space-between;
    font-weight: 500;
  }

  a {
    cursor: pointer;
  }

  nav a:hover {
    font-weight: 700;
  }

  nav button {
    background-color: var(--brand-magenta-dark);
    padding: 0.4rem 1rem;
    border: none;
    font-family: "Poppins";
    border-radius: 5rem;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    transition: 0.2s;
    cursor: pointer;
  }

  nav button:hover {
    transition: 0.2s;
    background-color: white;
    color: var(--brand-magenta);
  }

  button {
    cursor: pointer;
    font-size: 1rem;
  }

  .header-logo {
    width: 5rem;
    align-self: center;
  }

  .banner {
    background-image: url(./assets/bg-mountain.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100%;
    background-position: top;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .banner h1 {
    font-size: 3rem;
  }

  .banner-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .button1 {
    width: fit-content;
    padding: 1rem;
    background-color: var(--brand-magenta);
    border: 2px solid transparent;
    border-radius: 5rem;
    color: white;
    font-weight: 700;
    transition: 0.2s;
    height: fit-content;
  }

  .button1:hover {
    transition: 0.2s;
    box-shadow: 5px 5px 0 var(--brand-magenta);
    background-color: var(--brand-magenta-light);
  }

  .cards {
    margin-top: 10rem;
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;
    gap: 10rem;
  }

  .frame {
    display: flex;
    justify-content: space-between;
    padding: 0rem 5rem;
  }

  .frame img {
    width: 45%;
    height: 32rem;
    object-fit: cover;
    object-position: 42%;
    border-radius: 0.5rem;
  }

  .frame-text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 25rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  .frame:nth-child(2) img {
    object-position: 35%;
  }

  .frame:nth-child(2) .frame-text {
    text-align: right;
  }

  .frame:nth-child(2) .frame-text button {
    align-self: flex-end;
    margin-right: 3rem;
  }

  .line {
    height: 1px;
    width: 120%;
    align-self: flex-end;
    background-color: var(--brand-magenta);
  }

  .footer-banner {
    background-color: var(--brand-magenta);
    color: white;
    height: 12rem;
    display: flex;
    align-items: center;
  }

  h4 {
    font-size: 0.96rem;
  }

  .second-banner-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .second-banner-content button {
    background-color: black;
  }

  .second-banner-content button:hover {
    background-color: rgb(48, 48, 48);
    transform: scale(1.04);
    box-shadow: 5px 5px 0 var(--brand-magenta-dark);
  }

  .second-banner-text {
    line-height: 2rem;
  }

  .footer {
    padding: 2rem 0;
    background-color: #e7e7e7;
  }

  .footer-content {
    display: flex;
    justify-content: space-around;
  }

  .footer h3 {
    font-size: 1.5rem;
  }

  .footer a {
    text-decoration: none;
    color: var(--paragraph);
  }

  .footer a:hover {
    text-decoration: none;
    text-decoration: underline;
    color: var(--brand-magenta);
  }

  .footer li {
    transition: 0.2s;
  }

  .footer li:hover {
    transform: translate(10px);
    transition: 0.2s;
  }

  .footer ul {
    list-style: none;
    line-height: 2rem;
  }

  .column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */
/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */
/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */
